.App {
	background-color: #081118;
	color: #838383;
	min-height: 100vh;
	font-family: 'Blinker'! important;
}

h1,
h2,
h3,
h4 {
	font-family: 'Blinker'! important;
}

::-webkit-scrollbar {
width: 12px;
}

::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px     rgba(0,0,0,0.1);
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px     rgba(0,0,0,0.8);
}

@media only screen and (max-width: 768px) {
	h1,
	h2,
	h3,
	h4 {
		text-align: center;
	}
}
